In [88]:
import pandas as pd
import os
from datetime import datetime
import time

In [81]:
dict = {}
p = r'./data/'
for f in os.listdir(path=p): 
    file_name, file_ext = os.path.splitext(f)
    
    dict[file_name] = pd.read_table(f'./data/{f}', index_col=False, delim_whitespace=True, header=None,usecols=[0])
    
    dict[file_name] = dict[file_name].stack()
    
df = pd.DataFrame.from_dict(dict)

# demark the 1 hour iteration across the entire tracking period
df['iteration'] = range(0, 0 + (60 * df.shape[0]), 60)

# Create a datetime series
start_date = pd.to_datetime('2018-04-26 00:00:00')
end_date = pd.to_datetime('2018-07-26 20:00:00')
datetime_series = pd.date_range(start=start_date, end=end_date, freq='H')

df['date_time'] = datetime_series

In [83]:
profile_df = pd.read_table(r'./outcomes/profile.txt', index_col=False, delim_whitespace=True,header=None)

In [84]:
profile_df.columns =['cooler_condition','valve_condition','internal_pump_leakage','hydrolic_acucumlator_bar','stable_flag']

In [85]:
profile_df

,cooler_condition,valve_condition,internal_pump_leakage,hydrolic_acucumlator_bar,stable_flag
0,3,100,0,130,1
1,3,100,0,130,1
2,3,100,0,130,1
3,3,100,0,130,1
4,3,100,0,130,1
...,...,...,...,...,...
2200,100,100,0,90,0
2201,100,100,0,90,0
2202,100,100,0,90,0
2203,100,100,0,90,0
2204,100,100,0,90,0

In [86]:
profile_columns = ['cooler_condition','valve_condition','internal_pump_leakage','hydrolic_acucumlator_bar','stable_flag']

for c in profile_columns:
    df[c]= profile_df[c].values
    
df

,,CE,CP,EPS1,FS1,FS2,PS1,PS2,PS3,PS4,PS5,...,TS3,TS4,VS1,iteration,date_time,cooler_condition,valve_condition,internal_pump_leakage,hydrolic_acucumlator_bar,stable_flag
0,0,47.202,2.184,2411.6,8.990,10.179,151.47,125.50,2.305,0.000,9.936,...,38.320,30.363,0.604,0,2018-04-26 00:00:00,3,100,0,130,1
1,0,29.208,1.414,2409.6,8.919,10.408,151.11,125.06,2.281,0.000,9.700,...,38.680,33.648,0.590,60,2018-04-26 01:00:00,3,100,0,130,1
2,0,23.554,1.159,2397.8,9.179,10.392,150.81,125.13,2.227,0.000,9.606,...,39.234,35.113,0.578,120,2018-04-26 02:00:00,3,100,0,130,1
3,0,21.540,1.101,2383.8,9.034,10.329,150.48,124.93,2.320,0.000,9.528,...,40.086,36.133,0.565,180,2018-04-26 03:00:00,3,100,0,130,1
4,0,20.460,1.086,2372.0,8.729,10.276,150.41,124.72,2.250,0.000,9.408,...,40.934,36.992,0.570,240,2018-04-26 04:00:00,3,100,0,130,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,0,46.798,2.167,2416.4,8.173,10.196,151.70,125.47,2.375,10.185,9.957,...,38.266,30.383,0.558,132000,2018-07-26 16:00:00,100,100,0,90,0
2201,0,46.477,2.134,2415.6,8.317,10.182,151.90,125.83,2.273,10.204,9.958,...,38.187,30.367,0.566,132060,2018-07-26 17:00:00,100,100,0,90,0
2202,0,46.757,2.146,2413.6,8.170,10.171,151.73,125.41,2.375,10.216,9.972,...,38.176,30.375,0.566,132120,2018-07-26 18:00:00,100,100,0,90,0
2203,0,46.584,2.145,2413.6,8.496,10.166,151.77,125.91,2.305,10.212,9.983,...,38.187,30.379,0.529,132180,2018-07-26 19:00:00,100,100,0,90,0
2204,0,46.770,2.144,2415.8,8.373,10.193,151.83,125.88,2.375,10.201,9.969,...,38.184,30.355,0.541,132240,2018-07-26 20:00:00,100,100,0,90,0

In [91]:
TodaysDate = time.strftime('%d-%m-%Y')
csv_filename = 'oil-well-log'+TodaysDate +'.csv'

df.to_csv(r'./logs/'+csv_filename, index=False)

In [9]:
# test of iterating over datetime
import datetime

#start_date = datetime.datetime(2018,4,26,0,0)

for i in range(61):
    start_date = datetime.datetime(2018,4,26,0,0)
    # Calculate the timedelta for each iteration
    timedelta_per_iteration = datetime.timedelta(days=92 * i) 

    # Update the start_date by adding the timedelta
    start_date_updated = start_date + timedelta_per_iteration

    # Calculate the end_date based on the updated start_date
    end_date_updated = start_date_updated + datetime.timedelta(hours=2204)
    # update times for each iteration
    start_date = start_date_updated
    end_date = end_date_updated
    
    print('start: ',start_date)
    print('end: ',end_date)

start:  2018-04-26 00:00:00
end:  2018-07-26 20:00:00
start:  2018-07-27 00:00:00
end:  2018-10-26 20:00:00
start:  2018-10-27 00:00:00
end:  2019-01-26 20:00:00
start:  2019-01-27 00:00:00
end:  2019-04-28 20:00:00
start:  2019-04-29 00:00:00
end:  2019-07-29 20:00:00
start:  2019-07-30 00:00:00
end:  2019-10-29 20:00:00
start:  2019-10-30 00:00:00
end:  2020-01-29 20:00:00
start:  2020-01-30 00:00:00
end:  2020-04-30 20:00:00
start:  2020-05-01 00:00:00
end:  2020-07-31 20:00:00
start:  2020-08-01 00:00:00
end:  2020-10-31 20:00:00
start:  2020-11-01 00:00:00
end:  2021-01-31 20:00:00
start:  2021-02-01 00:00:00
end:  2021-05-03 20:00:00
start:  2021-05-04 00:00:00
end:  2021-08-03 20:00:00
start:  2021-08-04 00:00:00
end:  2021-11-03 20:00:00
start:  2021-11-04 00:00:00
end:  2022-02-03 20:00:00
start:  2022-02-04 00:00:00
end:  2022-05-06 20:00:00
start:  2022-05-07 00:00:00
end:  2022-08-06 20:00:00
start:  2022-08-07 00:00:00
end:  2022-11-06 20:00:00
start:  2022-11-07 00:00:00
end:  2023-02-06 20:00:00
start:  2023-02-07 00:00:00
end:  2023-05-09 20:00:00
start:  2023-05-10 00:00:00
end:  2023-08-09 20:00:00
start:  2023-08-10 00:00:00
end:  2023-11-09 20:00:00
start:  2023-11-10 00:00:00
end:  2024-02-09 20:00:00
start:  2024-02-10 00:00:00
end:  2024-05-11 20:00:00
start:  2024-05-12 00:00:00
end:  2024-08-11 20:00:00
start:  2024-08-12 00:00:00
end:  2024-11-11 20:00:00
start:  2024-11-12 00:00:00
end:  2025-02-11 20:00:00
start:  2025-02-12 00:00:00
end:  2025-05-14 20:00:00
start:  2025-05-15 00:00:00
end:  2025-08-14 20:00:00
start:  2025-08-15 00:00:00
end:  2025-11-14 20:00:00
start:  2025-11-15 00:00:00
end:  2026-02-14 20:00:00
start:  2026-02-15 00:00:00
end:  2026-05-17 20:00:00
start:  2026-05-18 00:00:00
end:  2026-08-17 20:00:00
start:  2026-08-18 00:00:00
end:  2026-11-17 20:00:00
start:  2026-11-18 00:00:00
end:  2027-02-17 20:00:00
start:  2027-02-18 00:00:00
end:  2027-05-20 20:00:00
start:  2027-05-21 00:00:00
end:  2027-08-20 20:00:00
start:  2027-08-21 00:00:00
end:  2027-11-20 20:00:00
start:  2027-11-21 00:00:00
end:  2028-02-20 20:00:00
start:  2028-02-21 00:00:00
end:  2028-05-22 20:00:00
start:  2028-05-23 00:00:00
end:  2028-08-22 20:00:00
start:  2028-08-23 00:00:00
end:  2028-11-22 20:00:00
start:  2028-11-23 00:00:00
end:  2029-02-22 20:00:00
start:  2029-02-23 00:00:00
end:  2029-05-25 20:00:00
start:  2029-05-26 00:00:00
end:  2029-08-25 20:00:00
start:  2029-08-26 00:00:00
end:  2029-11-25 20:00:00
start:  2029-11-26 00:00:00
end:  2030-02-25 20:00:00
start:  2030-02-26 00:00:00
end:  2030-05-28 20:00:00
start:  2030-05-29 00:00:00
end:  2030-08-28 20:00:00
start:  2030-08-29 00:00:00
end:  2030-11-28 20:00:00
start:  2030-11-29 00:00:00
end:  2031-02-28 20:00:00
start:  2031-03-01 00:00:00
end:  2031-05-31 20:00:00
start:  2031-06-01 00:00:00
end:  2031-08-31 20:00:00
start:  2031-09-01 00:00:00
end:  2031-12-01 20:00:00
start:  2031-12-02 00:00:00
end:  2032-03-02 20:00:00
start:  2032-03-03 00:00:00
end:  2032-06-02 20:00:00
start:  2032-06-03 00:00:00
end:  2032-09-02 20:00:00
start:  2032-09-03 00:00:00
end:  2032-12-03 20:00:00
start:  2032-12-04 00:00:00
end:  2033-03-05 20:00:00
start:  2033-03-06 00:00:00
end:  2033-06-05 20:00:00
start:  2033-06-06 00:00:00
end:  2033-09-05 20:00:00